In [15]:
import pandas as pd
df=pd.read_csv("income.csv")
df

        Name  Monthly Income ($)
0        Rob                5000
1      Rafiq                6000
2       Nina                4000
3      Sofia                7500
4      Mohan                8000
5        Tao                7000
6  Elon Musk            10000000

In [46]:
df.Income.quantile(0)

4000.0

In [35]:
print(df.columns)

Index(['Name', 'Income'], dtype='object')

In [36]:
print(df['Income'].quantile(0))

4000.0

In [ ]:
df.quantile.

In [37]:
import pandas as pd
import numpy as np

In [47]:
df=pd.read_csv("income.csv",name=["name","Income"],skiprows=[0])
df

TypeError: read_csv() got an unexpected keyword argument 'name'

In [39]:
percentile_99=df.Income.quantile(0.99)
percentile_99

9400479.999999994

In [40]:
df.Income[3]=np.nan

<ipython-input-40-426e21a143e0>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.Income[3]=np.nan
C:\Users\HP\anaconda3\lib\site-packages\pandas\core\indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [ ]:
df['income'][3]=np.nan

In [41]:
df.Income.mean()

1671666.6666666667

In [42]:
df_new=df.fillna(df.Income.mean())
df_new

        Name        Income
0        Rob  5.000000e+03
1      Rafiq  6.000000e+03
2       Nina  4.000000e+03
3      Sofia  1.671667e+06
4      Mohan  8.000000e+03
5        Tao  7.000000e+03
6  Elon Musk  1.000000e+07

In [33]:
df.rename(columns={'Monthly Income ($)': 'income'}, inplace=True)