In [5]:
import pandas as pd
import numpy as np
df=pd.read_csv('bigmartsales.csv')

In [6]:
df

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...,...,...
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834
8519,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,NaN,Tier 2,Supermarket Type1,549.2850
8520,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136
8521,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976
8522,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700

In [7]:
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [9]:
df[['Item_MRP','Item_Outlet_Sales']].median()

Item_MRP              143.0128
Item_Outlet_Sales    1794.3310
dtype: float64

In [ ]:
df[['Item_MRP','Item_Outlet_Sales']].mean()

In [ ]:
df[['Item_MRP','Item_Outlet_Sales']].mode()

In [ ]:
df[['Item_MRP','Item_Outlet_Sales']].std()

In [10]:
round(df[['Item_MRP','Item_Outlet_Sales']].var(),2)

Item_MRP                3878.18
Item_Outlet_Sales    2912140.94
dtype: float64

In [11]:
from scipy.stats import iqr

C:\Users\HP\anaconda3\lib\site-packages\scipy\__init__.py:138: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.24.3)
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion} is required for this version of "

In [12]:
iqr(df[['Item_MRP', 'Item_Outlet_Sales']],axis=0)

array([  91.8172, 2267.049 ])

In [14]:
from scipy.stats import skew, kurtosis

In [15]:
kurtosis(df['Item_Outlet_Sales'],fisher=False)

4.614224991590342

In [17]:
kurtosis(df['Item_Outlet_Sales'],fisher=True)

1.6142249915903424

In [18]:
skew(df['Item_Outlet_Sales'])

1.177323353967637

In [19]:
#calculating z score
from scipy.stats import zscore
z=np.abs(zscore(df[['Item_MRP','Item_Outlet_Sales']]))

In [20]:
z

array([[1.74745381, 0.910601  ],
       [1.48902325, 1.01844035],
       [0.01004021, 0.04923754],
       ...,
       [0.89720755, 0.57909963],
       [0.60797692, 0.19672492],
       [1.05226104, 0.82959407]])